<header>
    <span>F</span>
    <nav>
      <ul>
        <li>
          <p id="about-nav" (click)="navigate('about')">About</p>
        </li>
        <li>
          <p id="experience-nav" (click)="navigate('experience')">Experience</p>
        </li>
        <li>
          <p id="work-nav" (click)="navigate('work')">Work</p>
        </li>
        <li>
          <p id="contact-nav" (click)="navigate('contact')">Contact</p>
        </li>
        <li class="resume-button">
          <a href="resumeMELI.pdf" target="_blank" rel="noopener noreferrer"
            >Resume</a
          >
        </li>
      </ul>
    </nav>
  </header>
